.wrapper {
  background-image: url(../../assets/background.svg);
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.content {
  display: flex;
  padding: 30px 15px;
}

.info {
  position: absolute;
  top: 45%;
  left: 25%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  margin-bottom: 40px;
  color: #ffffff;
  font-weight: 700;
}

.mainTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 70px;
}
